
.highlight {
    background-color: yellow;
  }
  
  .error {
    background-color: lightcoral;
    border: red;
  }
  
.heading{
    background-color: #444;
    color: #fff;
    font-size: 40px;
    text-align: center;
}